// This file was auto-generated by Fern from our API Definition.

import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { ExternalSessionSocket } from "./Socket.js";

export declare namespace ExternalSession {
    interface Options {
        baseUrl?: core.Supplier<string | undefined>;
        environment?: core.Supplier<environments.AuiApiEnvironment | undefined>;
        apiKey: core.Supplier<core.BearerToken | undefined>;
    }

    interface ConnectArgs {
        headers?: Record<string, string | undefined>;
        debug?: boolean | undefined;
        reconnectAttempts?: number | undefined;
    }
}

export class ExternalSession {
    constructor(protected readonly _options: ExternalSession.Options = {}) {}

    public async connect(args: ExternalSession.ConnectArgs = {}): Promise<ExternalSessionSocket> {
        const { headers, debug, reconnectAttempts } = args;
        
        // Get API key for query parameter authentication (WebSocket fix)
        const apiKeyValue = await core.Supplier.get(this._options.apiKey);
        
        // Merge custom headers (without auth - API key goes in query params)
        const _headers: Record<string, unknown> = mergeHeaders({}, headers);
        
        const socket = new core.ReconnectingWebSocket({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.AuiApiEnvironment.Default)
                        .staging,
                "/api/v1/external/session",
            ),
            protocols: [],
            // WebSocket API requires API key as query parameter, not header
            queryParameters: {
                network_api_key: apiKeyValue,
            },
            headers: _headers,
            options: { debug: debug ?? false, maxRetries: reconnectAttempts ?? 30 },
        });
        return new ExternalSessionSocket({ socket });
    }

    protected async _getCustomAuthorizationHeaders(): Promise<Record<string, string | undefined>> {
        const apiKeyValue = await core.Supplier.get(this._options.apiKey);
        return { "x-network-api-key": apiKeyValue };
    }
}
